body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0 auto;
}
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: seashell;
    font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
header {
  height: 69px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid seashell;

}
nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
 nav li {
  list-style-type: none;
  padding: 0 1rem;
}

#header-logo {
  height: 50px;
}
#main-title {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*3q1tmk*_ga*NTc5MzgzOTg4MC4xNjgxODc1MjY4*_ga_3LRZM6TM9L*MTY4NTU2MzM2Mi42LjEuMTY4NTU2MzM2NS41Ny4wLjA.");
 width: 100%;
  max-width: 1200px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-headline {
background-color: black;

}

#tea-of-the-month {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.tea-otm-img {
  height: 100%;
  max-height: 200px;
  width: 100%;
max-width: 300px;
}




#tea-of-the-month ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#tea-of-the-month li {
  list-style-type: none;
  padding:10px;
}
#tea-of-the-month h4 {
  margin: 10px;
}
@media (max-width: 600px) {
  header {
    height: 140px;
    justify-content: center;
  }



}